<div class="container">
  <main class="col-12">
<h3 class="bd-title" id="content">Nested FormGroup Example</h3>
<br/>
<form [formGroup]="nestedFormGroup">
<div class="form-group">
    <label>PermanentAddress</label>
    <input type="text" formControlName="permanentAddress" class="form-control"  />
</div>
<div [formGroup]="nestedFormGroup.controls.skillsHobbies">
<div class="form-group">
    <label>Hobby</label>
    <input type="text" formControlName="value" class="form-control"  />
</div>
</div>
</form> 
{{nestedFormGroup.value | json}}
</main></div>